<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>dashboard</title>
    </head>

    <body>
        <p>Only for logged in users</p>
        <br>
        <br>
        <p>Your email is: {{user.email}}</p>
        <p>Your name is: {{user.first_name}} {{user.last_name}}</p>
        <p>Your address is: {{user.address}}</p>
    <br>
    <br>
    <br>
        <a href="/dashboard/edit-profile">Edit profile</a>
        <a href="/dashboard/dashboard-all-users">All users</a>
    </body>


</html>