<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All users</title>
    </head>

    <body>
        <a href="/dashboard">Back to dashboard</a>

        <h1>All users</h1>

        {% for user in all_users %}
        <p>{{user.id}} {{user.first_name}} {{user.last_name}}
            <form method="post" action="/dashboard/user-delete/{{user.id}}">
                <button type="submit">Delete {{user.first_name}} {{user.last_name}}</button>
             </form>
        </p>
        <hr>
        {% endfor %}
    </body>
</html>