<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>

    <body>
        <a href="/">Back</a>
        <br>
        <h2>Log-in</h2>
        <form action="/login" method="post">
            <input type="email" name="login_email" placeholder="Enter your email">
            <br>
            <br>
            <input type="password" name="password" placeholder="Enter your password">
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>

    </body>
</html>